In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
from mat_to_csv import mat_to_csv

imdb_df = mat_to_csv().convert(path_mat="dataset/imdb.mat", key="imdb")
# wiki_df = mat_to_csv().convert(path_mat="dataset/wiki.mat", key="wiki")

b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sun Jan 17 11:30:27 2016'
1.0
columns:
 ('dob', 'photo_taken', 'full_path', 'gender', 'name', 'face_location', 'face_score', 'second_face_score', 'celeb_names', 'celeb_id')

In [34]:
imdb_df.head(10)

,gender,dob,photo_taken,face_score,second_face_score,full_path,full_name,face_location
0,1.0,693726,1968,1.459693,1.118973,01/nm0000001_rm124825600_1899-5-10_1968.jpg,Fred Astaire,"(1072.926, 161.838, 1214.7839999999999, 303.69..."
1,1.0,693726,1970,2.543198,1.852008,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,Fred Astaire,"(477.184, 100.352, 622.592, 245.76)"
2,1.0,693726,1968,3.455579,2.985660,01/nm0000001_rm577153792_1899-5-10_1968.jpg,Fred Astaire,"(114.96964308962852, 114.96964308962852, 451.6..."
3,1.0,693726,1968,1.872117,NaN,01/nm0000001_rm946909184_1899-5-10_1968.jpg,Fred Astaire,"(622.8855056426588, 424.21750383700805, 844.33..."
4,1.0,693726,1968,1.158766,NaN,01/nm0000001_rm980463616_1899-5-10_1968.jpg,Fred Astaire,"(1013.8590023603723, 233.8820422075853, 1201.5..."
5,0.0,702986,1991,3.490563,1.345335,02/nm0000002_rm1075631616_1924-9-16_1991.jpg,Lauren Bacall,"(686.6768205940973, 458.4672137293982, 1198.10..."
6,0.0,702986,2004,3.479189,NaN,02/nm0000002_rm1346607872_1924-9-16_2004.jpg,Lauren Bacall,"(78.23569406558903, 52.335129377059346, 194.25..."
7,0.0,702986,2004,3.870171,NaN,02/nm0000002_rm1363385088_1924-9-16_2004.jpg,Lauren Bacall,"(64.30867103752385, 64.30867103752385, 207.267..."
8,0.0,702986,1991,3.786499,3.629704,02/nm0000002_rm1411175936_1924-9-16_1991.jpg,Lauren Bacall,"(212.7672369223355, 1055.6441846116777, 526.79..."
9,0.0,702986,2004,3.472944,2.945133,02/nm0000002_rm1447271168_1924-9-16_2004.jpg,Lauren Bacall,"(242.176, 49.664, 278.528, 86.016)"

In [50]:
from shutil import copyfile, copy

for index, row in imdb_df.tail(imdb_df.shape[0]-263969).iterrows():
    sys.stdout.write("\r%d%%" % ((index/imdb_df.shape[0])*100))
    sys.stdout.write(row.full_name)
    sys.stdout.flush()
    dir = 'dataset/imdb/' + str(row.full_name)
    if not os.path.exists(dir): os.makedirs(dir)
    
    try:
        copy('D:/Datasets/imdb_crop/' + row.full_path, dir)
    except Exception as e:
        print(e)

57%John Rhys-Davies[Errno 2] No such file or directory: 'D:/Datasets/imdb_crop/36/nm0722636_rm842185472_1944-5-5_1981.jpg'
99%Jane Levy

In [45]:
imdb_df.loc[imdb_df['full_path'] == '36/nm0722636_rm842185472_1944-5-5_1981.jpg']

460723